body {
	font-family: '幼圆', 'Microsoft Yahei';
	padding: 0px;
	margin: 0px;
}

aside {
	width: 25%;
	height: 100%;
	position: fixed;
	float: left;
	background-color: #99ccff;
}

aside .aside_icon {
	text-align: center;
	padding-top: 25%;
}

aside .aside_icon img {
	width: 160px;
}

aside .aside_text .name {
	text-align: center;
	padding-top: 5%;
	color: #111111;
	font-size: 1.5em;
	font-weight: bolder;
}

aside .aside_text .sign {
	text-align: center;
	color: #111111;
	padding-top: 3%;
	font-size: 0.8em;
	font-family: 'Microsoft Yahei';
}

aside .aside_text .contact {
	padding-left: 32%;
	padding-top: 15%;
	font-size: 0.9em;
	list-style-type: none;
}

aside .aside_text .contact li {
	padding-top: 3%;
	padding-bottom: 3%;
}

aside .aside_text .contact a {
	padding-left: 2%;
	position: relative;
	bottom: 7px;
	color: #111;
	text-decoration: none;
}

aside .aside_text .contact img {
	width: 25px;
	height: 25px;
}

article {
	float: left;
	padding-left: 25%;
	margin: 0px;
	width: 75%
}

article .articles {
	width: 94%;
	margin-left: 3%;
	margin-top: 2%;
}

article .articles .single {
	height: 100%;
	margin-bottom: 2%;
	border-radius: 10px;
	background-color: #eeeeee;
}

/*
article .articles .single:hover {
	border-right: 3px solid #aaa;
	border-bottom: 3px solid #aaa;
}
*/

article .articles .single:hover {
	background-color: #f5f5f5;
}

article .articles .single {
	padding: 10px;
}

article .articles .single .title {
	float: left;
	font-size: 1.1em;
}

article .articles .single .title img {
	float: left;
	width: 25px;
	height: 25px;
	padding-right: 20px;
}

article .articles .single .title a {
	color: #111;
	text-decoration: none;
}

article .articles .single .type {
	float: right;
}

article .articles .single .content {
	padding-left: 10px;
	padding-bottom: 5px;
}

article .articles .single .content a {
	color: #111;
	text-decoration: none;
}
